{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>detail page</title>
{% endblock title %}
{% block content %}
<body>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{new.title}}</h5>
        <p class="card-text">{{new.description}}</p>
        <p class="card-text"><small class="text-body-secondary">{{new.updated_at}}</small></p>
        <p class="card-text"><small class="text-body-secondary">{{new.created_at}}</small></p>

      </div>
    </div>
  </div>
</div>
 {%for image in new.image_set.all%}
<img src="{{image}}" class="img-fluid rounded-start" alt="...">
{%endfor%}

{% endblock content %}